<section id="about">
  <div>
    <h2>Sobre Mi</h2>
    <div>
      <div>
        <img src="" alt="ass">
      </div>
      <div>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos quidem officia neque libero molestiae! Vero doloremque recusandae delectus voluptates a libero porro veniam at quasi fuga, reiciendis fugiat ducimus quisquam.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic voluptate facere maxime sint voluptatibus aliquid. Nesciunt quasi eius dolorem alias. Obcaecati assumenda consectetur saepe ipsam fuga odit earum dignissimos neque.</p>
        <span>
          <a href="#">Volver al principio</a>
        </span>
      </div>
    </div>
  </div>
</section>
