<div class="bg dark:bg-gray-900">
  <div class="container px-6 py-10 mx-auto">
    <h1
      class="text-2xl font-semibold text-center text-gray-800 capitalize lg:text-3xl dark:text-white"
    >
      Projects
    </h1>

    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 lg:grid-cols-2">
      <app-project-card
        title="Janken101"
        codeLink="https://github.com/DavidSilvente/Janken101/tree/main/rps-101-23-main"
        previewLink="https://svgl.vercel.app/"
        imageUrl="https://images.unsplash.com/photo-1621111848501-8d3634f82336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1565&q=80"
      >
      </app-project-card>

      <app-project-card
        title="Problema NRP"
        codeLink="https://github.com/DavidSilvente/Proyecto-nrp-con-interdependencias/tree/main"
        previewLink="https://svgl.vercel.app/"
        imageUrl="assets/nrp.jpg"
      >
      </app-project-card>

      <!-- app.component.html -->
      <app-project-card
        title="Crystalite"
        codeLink="https://github.com/DavidSilvente/Crystalite"
        previewLink="https://svgl.vercel.app/"
        imageUrl="assets/laboratorio.jpg"
      >
      </app-project-card>

      <app-project-card
        title="Project Default"
        codeLink="https://github.com/DavidSilvente/tfg_cine_app"
        previewLink="https://svgl.vercel.app/"
        imageUrl="https://images.unsplash.com/photo-1621111848501-8d3634f82336?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1565&q=80"
      >
      </app-project-card>
    </div>
  </div>
</div>
