<header>
  <div class="navbar">
    <!-- Dropdown para dispositivos móviles -->
    <div class="navbar-start lg:hidden">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16m-7 6h7"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <li><a (click)="scrollTo('me')">Home</a></li>
          <li>
            <details>
              <summary>Proyectos</summary>
              <ul class="p-2">
                <li><a>Submenu 1</a></li>
                <li><a>Submenu 2</a></li>
                <li><a>Submenu 3</a></li>
                <li><a>Submenu 4</a></li>
              </ul>
            </details>
          </li>
          <li><a (click)="scrollTo('about')">About</a></li>
          <li><a (click)="scrollTo('contact')">Contacto</a></li>
        </ul>
      </div>
    </div>
    <!-- Navbar para pantallas grandes -->
    <div id="navbar" class="navbar-center flex-1 justify-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a (click)="scrollTo('me')">Home</a></li>
        <li>
          <details>
            <summary>Proyectos</summary>
            <ul class="p-2">
              <li><a>Submenu 1</a></li>
              <li><a>Submenu 2</a></li>
              <li><a>Submenu 3</a></li>
              <li><a>Submenu 4</a></li>
            </ul>
          </details>
        </li>
        <li><a (click)="scrollTo('about')">About</a></li>
        <li><a (click)="scrollTo('contact')">Contacto</a></li>
      </ul>
    </div>
  </div>
</header>
<router-outlet></router-outlet>
