<body>
  <header>
    <div class="navbar">
      <!-- Dropdown para dispositivos móviles -->
      <div class="navbar-start lg:hidden">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost lg:hidden" (click)="toggleMenu()">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16m-7 6h7"
              />
            </svg>
          </label>
          <div class="main-content">
          <ul
            [class.active]="menuActive"
            class="menu menu-compact menu-me dropdown-content full-screen-menu p-2 shadow bg-base-100"
          >
          <li [class.active]="currentSection === 'me'">
            <a (click)="handleMenuClick('me')">{{ 'HOME' | translate }}</a>
          </li>
          <li [class.active]="currentSection === 'projects'">
            <a (click)="handleMenuClick('projects')">{{ 'PROJECTS' | translate }}</a>
          </li>
          <li [class.active]="currentSection === 'about'">
            <a (click)="handleMenuClick('about')">{{ 'ABOUT' | translate }}</a>
          </li>
          <li [class.active]="currentSection === 'contact'">
            <a (click)="handleMenuClick('contact')">{{ 'CONTACT' | translate }}</a>
          </li>
          <li>
            <a (click)="switchLanguage()">  {{ currentLang === 'es' ? 'ES' : 'EN' }}</a>
          </li>
          </ul>
        </div>
        </div>
      </div>

      <!-- Navbar para pantallas grandes -->
      <div class="navbar-center flex-1 justify-center hidden lg:flex">
        <ul id="menu" class="menu menu-horizontal menu-spb px-1">
          <li [class.active]="currentSection === 'me'">
            <a (click)="scrollTo('me')">{{ 'HOME' | translate }}</a>
          </li>
          <li [class.active]="currentSection === 'projects'">
            <a (click)="scrollTo('projects')">{{ 'PROJECTS' | translate }}</a>
          </li>
          <li [class.active]="currentSection === 'about'">
            <a (click)="scrollTo('about')">{{ 'ABOUT' | translate }}</a>
          </li>
          <li [class.active]="currentSection === 'contact'">
            <a (click)="scrollTo('contact')">{{ 'CONTACT' | translate }}</a>
          </li>
          <li>
            <a (click)="switchLanguage()">  {{ currentLang === 'es' ? 'ES' : 'EN' }}</a>
          </li>
          <li><app-theme-toggle></app-theme-toggle></li>
        </ul>
      </div>
    </div>
  </header>

  <main>
    <div *ngIf="isHomePage">
      <section id="home">
        <app-home></app-home>
      </section>
      <section id="projects">
        <app-projects></app-projects>
      </section>
      <section id="about">
        <app-about></app-about>
      </section>
      <section id="contact">
        <app-contact></app-contact>
      </section>
    </div>
    <router-outlet *ngIf="!isHomePage"></router-outlet>
  </main>

  <footer>
    <div
      class="rounded-lg w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4"
    >
      <span class="text-sm text-footer sm:text-center dark:text-gray-400"
        >© 2024
        <a href="https://github.com/DavidSilvente" class="hover:underline"
          >DavidSilvente</a
        >. All Rights Reserved.
      </span>
      <ul
        class="flex flex-wrap items-center mt-3 text-sm font-medium dark:text-gray-400 sm:mt-0"
      >
      <li>
        <a (click)="scrollTo('me')" class="cursor-pointer hover:underline me-4 md:me-6">{{ 'HOME' | translate }}</a>
      </li>
      <li>
        <a (click)="scrollTo('projects')" class="cursor-pointer hover:underline me-4 md:me-6">{{ 'PROJECTS' | translate }}</a>
      </li>
      <li>
        <a (click)="scrollTo('about')" class="cursor-pointer hover:underline me-4 md:me-6">{{ 'ABOUT' | translate }}</a>
      </li>
      <li>
        <a (click)="scrollTo('contact')" class="cursor-pointer hover:underline me-4 md:me-6">{{ 'CONTACT' | translate }}</a>
      </li>
      </ul>
    </div>
  </footer>
</body>
