
<div
  class="flex items-end overflow-hidden bg-cover rounded-lg h-96"
  [ngStyle]="{ 'background-image': 'url(' + imageUrl + ')' }"
>
  <div
    class="w-full max-w-xs px-8 overflow-hidden rounded-b-lg backdrop-blur-sm bg-white/60 dark:bg-gray-800/60" style="padding-bottom: 1rem;"
  >
    <h2
      class="mt-4 text-xl font-semibold text-gray-800 capitalize dark:text-white"
    >
      {{ title }}
    </h2>
    <div class="flex items-center gap-3 sm:gap-x-5">
      <a
        [href]="codeLink"
        role="link"
        class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
      >
        <img src="assets/github.svg">
        Code
      </a>
      <a
        [href]="previewLink"
        role="link"
        class="inline-flex items-center justify-center gap-2 px-3 py-2 space-x-2 text-base text-white transition bg-gray-800 border border-gray-600 focus-visible:ring-yellow-500/80 text-md hover:bg-gray-800 hover:border-gray-900 group max-w-fit rounded-xl hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
      >
        <img src="assets/preview.svg">
        Preview
      </a>
    </div>
  </div>
</div>

