<section id="me" class="home">
  <div class="home-text">
    <h2>Hello I 'm David <i class="ph-bold ph-hand-waving"></i></h2>
    <h3>Full Stack Developer</h3>
    <p>
      I'm Front End Developer based in Jakarta, and i'm very passionate and
      dedicated to my work.
    </p>
    <div class="home-btn">
      <a href="#" class="btn">Contact Info</a>
      <a href="#" class="btn"
        >Download CV <i class="ph-bold ph-read-cv-logo"></i
      ></a>
    </div>
  </div>
  <div class="home-img">
    <img src="assets/messi.png" />
  </div>
</section>

<app-projects></app-projects>
<app-about></app-about>
<app-contact></app-contact>
